{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>GenAI POC</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
 
</head>

<body>  

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        
        <span class="d-none d-lg-block">Sales Analytics</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="button" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->


        
        <li class="nav-item dropdown pe-3">
   <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
    <i class="bi bi-ethernet text-danger" style="font-size: 35px;"></i>
    <span id="selected-agency" class="d-none d-md-block dropdown-toggle ps-2">Agency</span>
</a><!-- End Profile Icon -->


          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <!-- The dynamically populated agency select dropdown -->
              <li>
                  <select id="agency-select" style="width: 100%;"></select>
              </li>
              <!-- The dynamically populated agent select dropdown -->
               
          </ul><!-- End Agency Dropdown Items -->
      </li><!-- End Agency Nav -->


      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-person text-danger" style="font-size: 35px;"></i>
            <span  id="selected-agent" class="d-none d-md-block dropdown-toggle ps-2">Agent</span>
        </a><!-- End Profile Icon -->
        
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
                <select id="agent-select" style="width: 100%;"></select>
            </li>
        </ul><!-- End Profile Dropdown Items -->
    </li><!-- End Profile Nav -->
      
      

   
    </nav><!-- End Icons Navigation -->
    
  
  
  
  

    


 
        
        
      
      


  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

 
 

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

       

       
 

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Total Policies</h5>
                  <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-file-earmark-text"></i> <!-- Updated Icon -->
                      </div>
                      <div class="ps-3">
                          <h6><span id="policies-sold-ytd-value"></h6>
                         
                      </div>
                  </div>
              </div>
              

              </div>
            </div><!-- End Sales Card -->

            

            <!-- Revenue Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Claims</h5>
                  <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-file-earmark-text"></i>
                      </div>
                      <div class="ps-3">
                          <h6><span id="claims-value"></h6>
                      </div>
                  </div>
              </div>
              

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-3 col-xl-12">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Fraud</h5>
                  <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-exclamation-triangle"></i>
                      </div>
                      <div class="ps-3">
                          <h6><span id="fraud-value"></span></h6>
                      </div>
                  </div>
              </div>
              

                




              </div>

            </div><!-- End Customers Card -->


            <div class="col-xxl-3 col-xl-12">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Digital Adoption</h5>
                  <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-laptop"></i>
                      </div>
                      <div class="ps-3">
                        <h6><span id="digital-value"></span></h6>
                      </div>
                  </div>
              </div>
              

                




              </div>

            </div><!-- End Customers Card -->



<!-- Reports -->
<div class="col-12">
  <div class="card">
      <div class="card-body" >
          <h5 class="card-title">Reports</h5>
          <!-- Line Chart -->
          <canvas id="policyChart" style="max-height: 75%;"></canvas>
          <!-- End Line Chart -->
      </div>
  </div>
</div>
<!-- End Reports -->

<!-- Reports -->
<div class="col-12">
  <div class="card">
      <div class="card-body">
          
        <h5 id="selected-agent-title" class="card-title">Summary</h5>

        <span id="insightsElem"></span>
          <!-- Line Chart -->
          <!-- End Line Chart -->
      </div>
  </div>
</div>

<!-- End Reports -->


            

           

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card">
            

            <div class="card-body">
              <h5 class="card-title">Interact with the data. Ask Questions</span></h5>

              <div class="activity">

                <div class="activity-item d-flex">
                  
                 
                  <div class="activity-content">
                    <a href="#" class="fw-bold text-dark" onclick="populateTextarea('What is the best performance period for Carrillo Michael Murray?')">What is the best performance period for Carrillo Michael Murray</a>
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                
                  
                  <div class="activity-content">
                    <a href="#" class="fw-bold text-dark" onclick="populateTextarea('Display General Insights')" >Display General Insights</a> 
                  </div>
                </div><!-- End activity item-->

               

                <div class="activity-item d-flex">
          
                  
                  <div class="activity-content">
                    <a href="#" class="fw-bold text-dark" onclick="populateTextarea('Peer Comparision? Compare Carrillo Michael Murray and Bryant Patrick Perez')" >Peer Comparision? Compare Carrillo Michael Murray and Bryant Patrick Perez</a> 
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
           
                 
                  <div class="activity-content">
                    <a href="#" class="fw-bold text-dark" onclick="populateTextarea('What is Perry Kyle Luna  rank ?')"  >What is Perry Kyle Luna rank ?</a> 
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
            
                  


    
                   
                  <form>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-9">
                            <textarea name="question" id="question" class="form-control" style="resize: none; height: 50px; width: 300px; font-size: 14px;" placeholder="Type your question here"></textarea>
                       
                          </div>
                        <div class="col-3">
                         
                            <div class="buttons" {% if answer %}style="display: none"{% endif %}>

                              
                                <button type="submit" id="ask-button" class="btn btn-primary" style="height: 50px;">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                
                  
                  
                  
                  
                  

                      
                 
                  
                </div><!-- End activity item-->

              </div>

            </div>
          </div><!-- End Recent Activity -->

          <!-- Budget Report -->
          <div class="card">
          

            <div class="card-body pb-0">
              <h5 class="card-title"></h5>

              <div id="responseContainer" style="min-height: 400px;"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  // Create a new <p> element
                  var responseElement = document.createElement("p");
              
                  // Set the text content of the element to your message
                  responseElement.textContent = "Response from GPT";
               
              
                ;
                });
              </script>
              

            </div>
          </div><!-- End Budget Report -->

          

           

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span></span></strong>. All Rights Reserved
    </div>
    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  
   
 

 
 
 
  <script src="{% static 'assets/js/main.js' %}"></script>


  <script>
    document.addEventListener("DOMContentLoaded", function () {
        var agencySelect = document.getElementById("agency-select");
        var agentSelect = document.getElementById("agent-select");
        var selectedAgencyText = document.getElementById("selected-agency");
        var selectedAgentText = document.getElementById("selected-agent");
        var frauds_processed = document.getElementById("fraud-value");
        var policiesSoldYtdElem = document.getElementById("policies-sold-ytd-value");
        var claims_processed = document.getElementById("claims-value");
        var digital_processed = document.getElementById("digital-value");
        const insightsElem = document.getElementById("insightsElem");

        const ctx = document.getElementById('policyChart').getContext('2d');
        let chart = null;

        // Add default options to agency and agent dropdowns
        agencySelect.innerHTML = '<option value="" disabled selected>Select Agency</option>';
        agentSelect.innerHTML = '<option value="" disabled selected>Select Agent</option>';

        fetch("/agency_names")
            .then(response => response.json())
            .then(data => {
                Object.keys(data.agency_data).forEach(agencyName => {
                    var option = document.createElement("option");
                    option.value = agencyName;
                    option.textContent = agencyName;
                    agencySelect.appendChild(option);
                });

                // Event listener for agency selection
                agencySelect.addEventListener("change", function () {
                    var selectedAgency = agencySelect.value;
                    agentSelect.innerHTML = '<option value="" disabled selected>Select Agent</option>';

                    // Populate agent names based on the selected agency
                    data.agency_data[selectedAgency].forEach(agentName => {
                        var option = document.createElement("option");
                        option.value = agentName;
                        option.textContent = agentName;
                        agentSelect.appendChild(option);
                    });

                    // Reset the displayed agency text when the agency changes
                    selectedAgencyText.textContent = selectedAgency || "Agency";
                });

                // Event listener for agent selection
                agentSelect.addEventListener("change", function () {
                    var selectedAgent = agentSelect.value;

                    if (!selectedAgent) {
                        // Reset metric values if no agent is selected
                        frauds_processed.textContent = "";
                        policiesSoldYtdElem.textContent = "";
                        claims_processed.textContent = "";
                        digital_processed.textContent = "";

                        selectedAgentText.textContent = "Summary";
                        insightsElem.innerText = "";

        // Reset the displayed agent name in the <span> element
        var selectedAgentSpan = document.getElementById("selected-agent");
        selectedAgentSpan.textContent = "";

        // Reset the displayed agent name in the <h5> element
        var selectedAgentTitle = document.getElementById("selected-agent-title");
        selectedAgentTitle.textContent = "Summary";


                    } else {
                        // Fetch data from the metrics_data endpoint based on the selected agent
                        fetch(`/metrics_data?agent=${selectedAgent}`)
                            .then(response => response.json())
                            .then(metricsData => {
                                // Update the placeholders with the fetched data
                                frauds_processed.textContent = metricsData.fraud_detected;
                                policiesSoldYtdElem.textContent = metricsData.policy_issued;
                                claims_processed.textContent = metricsData.claims_processed;
                                digital_processed.textContent = metricsData.digital_adoption;

                                selectedAgentText.textContent = selectedAgent;

                                // Update the displayed agent name in the <span> element
                var selectedAgentSpan = document.getElementById("selected-agent");
                selectedAgentSpan.textContent = selectedAgent;

                // Update the displayed agent name in the <h5> element
                var selectedAgentTitle = document.getElementById("selected-agent-title");
                selectedAgentTitle.textContent =   selectedAgent + " - Summary" ;



                                

                                const apiResponse = JSON.parse(metricsData.forecast);
                                const forecasts = apiResponse.Forecasts;
                                const months = forecasts.map(item => item.month);
                                const policySoldData = forecasts.map(item => item.policy_sold);
                                const averagePolicySold = [85, 79, 84, 78, 85, 80];

                                const newData = {
                                    labels: months,
                                    datasets: [{
                                        label: "Policy Sold",
                                        data: policySoldData,
                                        borderColor: "blue",
                                        fill: false
                                    }, {
                                        label: "Average Policy Sold",
                                        data: averagePolicySold,
                                        borderColor: "green",
                                        borderDash: [5, 5], // This creates a dashed line
                                        fill: false
                                    }]
                                };

                                if (chart) {
                                    chart.data = newData;
                                    chart.update();
                                } else {
                                    // Create the chart if it doesn't exist
                                    chart = new Chart(ctx, {
                                        type: 'line',
                                        data: newData,
                                        options: {
                                            plugins: {
                                                title: {
                                                    display: true,
                                                    text: "Forecast"
                                                }
                                            },
                                            scales: {
                                                y: {
                                                    beginAtZero: true,
                                                    min: 30 
                                                }
                                            }
                                            
                                        }
                                    });
                                }


                                let formattedInsights = metricsData.insights
  .split(/\d+\)\s+/) // Split the text by the pattern of a numbered statement
  .filter(Boolean) // Remove empty elements from the resulting array
  .map((statement, index) => `${index + 1}) ${statement}`) // Add the numbering back
  .join('<br>'); // Join the statements with line breaks
insightsElem.innerHTML = formattedInsights;





                            })
                            .catch(error => console.error("Error fetching metrics data:", error));



                            








                    }
                });
            })
            .catch(error => console.error("Error fetching agency data:", error));
    });
</script>



<script>

  document.getElementById('ask-button').addEventListener('click', function(e) {
      e.preventDefault(); // Stop form from submitting and reloading page
  
      // Get values
      const questionValue = document.getElementById('question').value;
      //const agentValue = document.getElementById('agent-select').value;
  
      console.log("Question:", questionValue);
  //console.log("Agent:", agentValue);
  
  
  
      // Check if values are set
      //if (!questionValue || !agentValue) {
       //   alert('Please select Agency and Agent.');
        //  return;
     // }
  
      // Send data to backend
      fetch('/ask', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify({
              question: questionValue,
              //agent: agentValue
          })
      })
      .then(response => response.json())
      .then(data => {
          // Handle response data here
          console.log(data);
          //let formattedInsights = data.message.replace(/#/g, '\n');
          //document.getElementById('responseContainer').textContent = formattedInsights;

          let formattedInsights = data.message
  .split(/\d+\)\s+/) // Split the text by the pattern of a numbered statement
  .filter(Boolean) // Remove empty elements from the resulting array
  .map((statement, index) => `${index + 1}) ${statement}`) // Add the numbering back
  .join('<br>'); // Join the statements with line breaks

document.getElementById('responseContainer').innerHTML = formattedInsights;



  
      })
      .catch(error => {
          console.error('Error:', error);
      });
  });
  
  
  
  
  
  
  
          </script>

<script>
  function populateTextarea(questionText) {
    document.getElementById('question').value = questionText;
    document.getElementById('ask-button').click();

  }
</script>
          

</body>

</html>